@import '../assets/variables.scss';

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: $dark-gray;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after,
  &::before {
    display: none !important;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    .header-link {
      > a {
        margin-left: 48px;
        color: white;
        &:hover {
          text-decoration: none;
          color: gray;
        }
      }
    }
  }
}