@import '../assets/variables.scss';



.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: $dark-gray;
  z-index: 150;
  &::after,
  &::before {
    display: none !important;
  }
  &__contain {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    .header-link {
      > a {
        margin-left: 48px;
        color: white;
        font-size: 18px;
        &:hover {
          text-decoration: none;
          color: gray;
        }
      }
    }
  }
}