@import '../assets/variables.scss';

.hero {
  background: url('../assets/images/newsplash.jpg') no-repeat center center;
	box-shadow: 0px 100vh rgba(0, 0, 0, 0.7) inset;
	background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__contain {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-size: 72px;
    padding-bottom: 20px;
    > span {
      display: block;
    }
  }

  &__description {

  }
}
