@import '../assets/variables.scss';

.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: $dark-gray;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after,
  &::before {
    display: none !important;
  }
  .nav-right {
    display: flex;
    justify-content: space-between;
    > li {
      margin-left: 18px;
    }
  }
}