@import '../assets/variables.scss';

.side-drawer {
  height: 100%;
  background: $medium-gray;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  li {
    text-align: center;
  }
  a {
    display: block;
    color: white;
    padding: 16px;
  }
}

.side-drawer-open {
  @extend .side-drawer;
  transform: translateX(0);
}

.side-drawer-header {
  background: $dark-gray;
  padding-top: 14px;
  height: 60px;
  > a {
    padding: 0;
  }
}

.side-drawer-link {
  > a {
    width: 100%;
    border-bottom: 1px solid $dark-gray;
    &:hover {
      background: $gray;
      color: white;
      text-decoration: none;
    }
  }
}